doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Home
    body
        h4 Add a new movie
        form(action='/', method='POST')
            label(for="title") Title
            input(type="text", name="title", id="title") 
            label(for="runtime") Runtmie
            input(type="number", name="runtime", id="runtime") 
            label(for="releaseDate") Release Date
            input(type="date", name="releaseDate", id="releaseDate")
            p Available on VHS
            .radio
                input(type="radio", name="isAvailableOnVHS", id="true", value="true")
                label(for="true", class="radio") true
            .radio
                input(type="radio", name="isAvailableOnVHS", id="false", value="false")
                label(for="false", class = 'radio') false
            br
            input(type="submit", value="Submit", class="btn ")
            p(class="center") or 
            a(href="/movies", class="btn") View movies
